<h2>signup for free</h2>
<div class="card" style="width: 100%;">
    <div class="card-body">
      <form [formGroup]="signUpForm"><!--  [formGroup]="signUpForm" -->
        <div class="form-group">
          <label for="username">Userame :</label>
          <input type="text" class="form-control" id="username" 
          formControlName="username" #username required>
          <!-- <small id="nameHelp" class="form-text text-muted">plese enter your full name .</small> -->
          <div *ngIf="signUpForm.controls['username'].invalid && (signUpForm.controls['username'].dirty || 
          signUpForm.controls['username'].touched)" class="alert alert-info">
          username is required.
        </div> 

        </div>
        <div class="form-group">
          <label for="email">Email :</label>
          <input type="email" class="form-control" id="email" formControlName="email" #email required>
          <div *ngIf="signUpForm.controls['email'].invalid && (signUpForm.controls['email'].dirty || 
          signUpForm.controls['email'].touched)" class="alert alert-info">
           <span *ngIf="signUpForm.controls['email'].errors.required">Email is required</span>
           <span *ngIf="signUpForm.controls['email'].errors.email">please enter valid Email</span>
        </div>
        </div>
        <div class="form-group">
          <label for="password">Password :</label>
          <input type="password" class="form-control" id="password" formControlName="password" #password required>
          <div *ngIf="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || 
          signUpForm.controls['password'].touched)" class="alert alert-info">
           <span *ngIf="signUpForm.controls['password'].errors.required">password is required</span>
           <span *ngIf="signUpForm.controls['password'].errors.minlength">password length must be min 5 at less</span>
           <span *ngIf="signUpForm.controls['password'].errors.pattern">password must be </span>
        </div>
        </div>
        <div class="form-group">
          <label for="confpassword">Confirm Password :</label>
          <input type="password" class="form-control" id="confpassword" formControlName="confpassword" #confpassword pattern="({{password.value}})" required>
          <div *ngIf="signUpForm.controls['confpassword'].invalid && (signUpForm.controls['confpassword'].dirty || 
          signUpForm.controls['confpassword'].touched)" class="alert alert-info">
          <span *ngIf="signUpForm.controls['confpassword'].errors?.required">confirm password is required </span> 
          <span *ngIf="signUpForm.controls['confpassword'].errors?.pattern">
            Paswords not match.</span>
           
        </div>
        </div>
        <div class="form-group">
          <input type="submit" [disabled]="signUpForm.pristine || signUpForm.invalid"  
          class="form-control btn btn-primary" value="Register"
          (click)="addUser(username.value,email.value,password.value)"/>
          <span class="alert-danger">{{msg.value}}</span>
        </div>
        
      </form>
    </div>
  </div>
  
