<h2>List of Contacts</h2>
<span>{{msg}}</span>
<table class="table table-hover">
    <thead>
         <th>Employee ID</th>
        <th>Name</th>
        <th>Number</th>
        <th >Job</th>
        <th>Location</th>
        <th colspan="2"> Action</th>
        
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
        <th >{{contact._id}}</th>
        <td>{{contact.name}}</td>
        <td>{{contact.number}}</td>
        <td >{{contact.job}}</td>
        <td>{{contact.location}}</td>

        <span class="edit" [routerLink]="['edit', contact._id]">         
            <button type="button" class="btn btn-success btn-sm">Edit</button>
        </span>

        <span class="delete" > 
            <button type="button" (click) = "deleteContact(contact._id)" class="btn btn-danger btn-sm">Delete</button>
        </span>
      
        </tr>
    </tbody>

</table>
